@page "/fetchdata"
@inject HttpClient Http

<h1>Customers to check up on and see how they're doing.</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>CountryCode</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in customers)
            {
                <tr>
                    <td>@customer.Name</td>
                    <td>@customer.CountryCode</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    Models.Customer[] customers;

    protected override async Task OnInitAsync()
    {
        customers = await Http.GetJsonAsync<Models.Customer[]>("http://localhost:5003/api/customer");
    }
}
